.feed-form
  margin-top: 36px
  display: flex
  flex-direction: column
  width: 300px
  input
    height: 50px
    border-radius: 5px
    background-color: #ffffff
    margin-bottom: 5px
    border: none
    font-weight: normal
    font-size: 14px
    color: #4B4B4B
    padding: 0 20px
    outline: none
  &_mt25
    margin-top: 25px